<!DOCTYPE html!>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcom to PlaceCamp - The most beautiful place to visit around the world</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel='stylesheet' href='css/style.css'> 
    </head>
    <body  class='intro'>
        <div class='intro-text'>
            <h1>Welcome to MyPlace</h1>
            <h4>Discover the best place to visit while traveling  around the world</h4>
            <div><a href='/placecamp'>Enter</a></div>
            <div><a href='/placecamp/new'>Add a new place</a></div>
            <br>
        </div>
 <% include layout/footer %>