
.intro {
    background-image: url('https://lifeandtimesofalifestylejunkie.files.wordpress.com/2015/07/img_2804.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 100%;
}

.intro-text{
    position: absolute;
    top: 27%;
    margin-left:5%;
    
}

.delete{
    display: inline;
    
}



.well{
    max-width: 900px;
}

body{
    background-color: #ddd;
}


img{
    width: 900px;
}


.imageClip{
    width: auto;
    height: 220px ;
}

.right{
    float: right;
}

.description{
    max-width: 900px;
}

.red{
    background-color: red;
    height: 450px;
}

.banneer{
    background-image: url(4.jpg);
    height: 480px;
    background-size: cover;
}

.banneerTitle{
    text-align: center;
    padding-top: 20vh;
}

.banneerTitle h3{
    color: white;
    font-size: 3.5em;
}

.banneerTitle h4{
    color: #eee;
    font-size: 1.5em;
}

.logo{
    width: 180px;
    background-image: url('Logo-myPlaceFinal.png');
    background-size: cover;
    background-position: center;
    
}

.navbar{
    margin-bottom: 0px;
}

i{
    padding-right: 8px;
    
    
}

h3 i{
    padding-right: 15px;
    padding-bottom:15px;
    
}