
.intro {
    background-image: url('https://lifeandtimesofalifestylejunkie.files.wordpress.com/2015/07/img_2804.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 100%;
}

.intro-text{
    position: absolute;
    top: 27%;
    margin-left:5%;
    
}

.delete{
    display: inline;
    
}



.well{
    max-width: 900px;
}

body{
    background-color: #eee;
}


img{
    width: 900px;
}


.imageClip{
    width: auto;
    height: 220px ;
}

.right{
    float: right;
}

.description{
    max-width: 900px;
}

.red{
    background-color: red;
    height: 450px;
}

.banneer{
    background-image: url(/img/4.jpg);
    height: 500px;
    background-size: cover;
}

.banneerTitle{
    text-align: center;
    padding-top: 20vh;
}

.banneerTitle h3{
    color: white;
    font-size: 3.5em;
}

.banneerTitle h4{
    color: #eee;
    font-size: 1.5em;
}

.banneer .form-control{
    width: 20%;
    margin: auto;
    display: inline;
}

.search{
    margin-left: 10px;
}

.logo{
    width: 180px;
    background-image: url('../img/Logo-myPlaceFinal.png');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    
}

.navbar{
    margin-bottom: 0px;
}

i{
    padding-right: 8px;
    
    
}

h3 i{
    padding-right: 15px;
    padding-bottom:15px;
    
}

#map {
    height: 240px;
    width: 100%;
}

.showPage{
    padding-top: 115px;
    
}

.miniPic img {
    width: 90px;
    height: 90px;
    margin: 0 0 12px 12px;
   
}

input {
    width: 70%;
    margin-right: 10px;
}

.footer{
    background-color: #074689;
    color: silver;
}

.footer h4{
    color: white;
}

.footer a{
    color: silver;
    
}

/*.line {
    border-right: 1px solid #1c5795;
}*/

.space{
    margin: 20px 8px;
}

.copyright{
    background-color: #01254b;
    color: #777;
    text-align: center;
    padding: 8px 8px;
    font-size: 0.8em;
}


