<% include ../layout/header %>
    <div class= 'container text-center'>
        <h1>Register Now</h1>
        <form action='./register' method='post'>
            <div class='container' style='width: 35%'>
                <div class='form-group'>
                    <input class='form-control' type='text' placeholder='Username' name='username'></input>
                </div>
                <div class='form-group'>
                    <input class='form-control' type='password' placeholder='Password' name='password'></input>
                </div>
                <button class='btn btn-lg btn-primary btn-block'type='submit'>Register</button>
            </div>
        </form>
    </div>
    <br><br><br><br>
<% include ../layout/footer %>