                <br>
                <div class='container-fluid footer'>
                        <div class='container'>
                                <div class='row space'>
                                        <div class='col-sm-3 col-xs-12 line'>
                                                <h4>Main Menu</h4>
                                                        <ul>
                                                                <li><a href='/'>Home</a></li>
                                                                <li><a href='/placecamp'>Place List</a></li>
                                                                <li><a href='/placecamp/new'>Add New Place</a></li>
                                                                <li><a href='/login'>Login</a></li>
                                                                <li><a href='/register'>Sign Up</a></li>
                                                        </ul>
                                        </div>
                                        <div class='col-sm-3 col-xs-12 line'>
                                                <h4>Last Place Added</h4>
                                                        <ul>
                                                                <li><a href='https://shielded-waters-82539.herokuapp.com/placecamp/5a019293908a2c0012e5b716'>CN Tower Toronto</a></li>
                                                                <li><a href='https://shielded-waters-82539.herokuapp.com/placecamp/5a0191a87591f600125d8de4'>Dubai City</a></li>
                                                                <li><a href='https://shielded-waters-82539.herokuapp.com/placecamp/5a0193ac908a2c0012e5b71c'>Musée du Louvre</a></li>
                                                                <li><a href='https://shielded-waters-82539.herokuapp.com/placecamp/5a019310908a2c0012e5b718'>Church in France</a></li>
                                                                <li><a href='https://shielded-waters-82539.herokuapp.com/placecamp/5a019232908a2c0012e5b714'>New York City</a></li>
                                                               
                                                        </ul>
                                        </div>
                                        <div class='col-sm-3 col-xs-12 line'>
                                                <h4>Social Network</h4>
                                                        <ul>
                                                                <li><a href='#'>Facebook</a></li>
                                                                <li><a href='#'>Google +</a></li>
                                                                <li><a href='#'>Instagram</a></li>
                                                                <li><a href='#'>Linkedin</a></li>
                                                                
                                                        </ul>
                                        </div>
                                        <div class='col-sm-3 col-xs-12'>
                                                <h4>Most commented</h4>
                                                        <ul>
                                                                <li><a href='https://shielded-waters-82539.herokuapp.com/placecamp/5a0193ac908a2c0012e5b71c'>Musée du Louvre</a></li>
                                                                <li><a href='https://shielded-waters-82539.herokuapp.com/placecamp/5a019310908a2c0012e5b718'>Church in France</a></li>
                                                                <li><a href='https://shielded-waters-82539.herokuapp.com/placecamp/5a019232908a2c0012e5b714'>New York City</a></li>
                                                                <li><a href='https://shielded-waters-82539.herokuapp.com/placecamp/5a017304b143410012ce40cf'>Salt Desert in Chilie</a></li>
                                                        </ul>
                                        </div>
                                </div>
                        </div>
                        
                </div>
                <div class='container-fluid copyright'>
                        <div class='row'>
                                <div class='col-xs-12'>
                                        <p>MyPlace - Full Stack Dev App from Scratch with Authentification, Session and Authorisation by Rundev97<br>Used Technologie : Node JS | Express JS | Mongoose | Mongo DB | Passport JS | Moment JS | Geocoder | Javascript | Ejs | jQuery | Bootstrap | Html | Css |</p>
                               </div>
                       </div>
                </div>
        <script type="text/javascript" src="/src/grid.js"></script>
        </body>
    </html>